<div class="flex h-screen m-4">
  <div class="lg:w-1/4 lg:mx-auto w-full flex flex-col justify-between lg:h-5/6 h-full">
    <div class="flex items-center justify-center h-full">
      <%= image_tag('logo.PNG', width: '200', height: '100', alt: "logo") %>  
    </div>
    <div class="">
        <%= link_to 'LOG IN', new_user_session_path, class: 'bg-sky-700  text-white text-center p-3 hover:bg-sky-800', style: 'width: 100%; display: block;' %>
      <br>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'text-gray-400 text-center hover:text-gray-500', style: 'width: 100%; display: block;'  %>
    </div>
  </div>
</div>
